/* BASIC */

$brand-red: red;
$brand-black: black;
$brand-grey: #aaaaaa;

html {
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

a {
	text-decoration: none;
}

pre {
	background: none repeat scroll 0 0 #FFF;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
	margin: 15px 0;
	color: $brand-red;
	padding: 5px;
	a {
		color: $brand-red;
	}
}

/* TOP BAR */

nav {
	border: none;
	text-align: center;
	padding: 0.3rem 0.5rem;

	span.now a {
		border-bottom: 2px solid $brand-black;
	}

	a {
		color: $brand-black;
		font-size: 18px;
	}

	.nav {
		& > div {
			float: left;

			&.home {
				margin-right: 15px;
				margin-top: 9px;

				a {
					display: block;
					text-align: left;

					.mobile {
						display: none;
					}
					.logo-container {
						height: 32px;
						width: 31.26px;
						float: left;
						margin-right: 15px;
						margin-left: 20px;
						@media only screen and (max-width: 784px) {
							margin:0;
						}
					}
					.yellow, .black {
						font-size: 18px;
						line-height: 32px;
					}
					.yellow {
						color: #ffbc00;
					}
					.black {
						color: #424242;
					}
				}

				@media only screen and (max-width: 784px) {
					margin-right: 10px;
					a {
						.desktop {
							display: none;
						}

						.mobile {
							display: block;
						}
					}
				}
				@media only screen and (max-width: 360px) {
					margin-right: 5px;
				}
			}

			&.search {
				margin-right: 0;
				margin-top: 9px;
				width: calc(100% - 503px);

				@media only screen and (max-width: 784px) {
					.desktop {
						display: none;
					}
					width: calc(100% - 130px);
				}
				@media only screen and (max-width: 360px) {
					width: calc(100% - 95px);
				}

				input {
					float: left;
					background-color: #ebebeb;
					border: 1px solid #c0c0c0;
					color: $brand-grey;
					width: calc(100% - 117px);
					display: block;
					padding: 0 0 0 20px;
					line-height: 30px;
					border-radius: 0;
					box-shadow: none;

					@media only screen and (max-width: 784px) {
						width: calc(100% - 86px);
					}
					@media only screen and (max-width: 360px) {
						width: calc(100% - 45px);
						padding: 0 0 0 7px;
					}

					&:focus {
						color: $brand-black;
					}

					&::placeholder {
						color: $brand-grey;
						opacity: 1;
					}

					&:focus::placeholder {
						color: $brand-black;
					}

					&::-webkit-input-placeholder {
						/* Edge */
						color: $brand-grey;
						opacity: 1;
					}

					&:focus::-webkit-input-placeholder {
						color: $brand-black;
					}

					&:-ms-input-placeholder {
						/* Internet Explorer 10-11 */
						color: $brand-grey;
						opacity: 1;
					}

					&:focus:-ms-input-placeholder {
						color: $brand-black;
					}
				}

				button {
					border: 1px solid #c0c0c0;
					background-color: white;
					border-left: none;
					padding: 0 25px;
					line-height: 30px;
					float: left;
					font-weight: bold;
					font-size: 13px;
					-webkit-transition: background-color 300ms ease;
					-moz-transition: background-color 300ms ease;
					-ms-transition: background-color 300ms ease;
					-o-transition: background-color 300ms ease;
					transition: background-color 300ms ease;

					&:hover, &:active {
						background-color: #f5f5f5;
					}
					@media only screen and (max-width: 360px) {
						padding: 0 11px;
					}
				}
			}

			&.links {
				margin-top: 9px;
				line-height: 30px;
				margin-right: 20px;
				float: right;
				a {
					margin-right: 10px;
					span {
						padding-right: 0;
					}
					@media only screen and (max-width: 784px) {
						margin-right: 0;
						span {
							padding-right: 10px;
						}
					}
				}

				span {
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;

					&.desktop {
						@media only screen and (max-width: 784px) {
							display: none;
						}
					}
					@media only screen and (max-width: 360px) {
						padding-left: 0;
						padding-right: 5px;
					}
				}

				@media only screen and (max-width: 784px) {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}
	}
}

.clear {
	float: none;
	clear: both;
	height: auto;
}

/* CONTAINER */

.container.clearfix {
	padding: 4rem;
	@media only screen and (max-width: 803px) {
		padding: 1rem;
	}
	@media only screen and (max-width: 480px) {
		padding: 0.5rem;
	}
}

h4 {
	color: #888;
	margin-top: 1rem;
	padding: 0;
	border-top: solid 1px #EEE;
	font-size: 0.8rem;
	font-weight: normal;
}

div.product-image {
	display: block;
}

img {
	width: auto;
	height: auto;

	&.vendor-header {
		width: 100%;
		height: auto;
	}
}

div.product-image img {
	height: 240px;
	width: auto;
}

.image-max-height {
	max-height: 480px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* JOZSEF */

.vendors {
	.vendor-header {
		max-width: 100%;
		min-width: 100%;
		margin-bottom: 2rem;
	}

	.vendor-avatar {
		margin-bottom: 1rem;
	}
	&.update, &.contact {
		label {
			display: block;
			clear: both;
			font-size: 16px;
			margin-bottom: 1em;
		}
		input {
			background-color: #ebebeb;
			border: 1px solid #c0c0c0;
			color: $brand-grey;
			width: calc(100% - 22px);
			display: block;
			padding: 0 0 0 20px;
			line-height: 30px;
			border-radius: 0;
			box-shadow: none;
			@media only screen and (max-width: 360px) {
				padding: 0 0 0 7px;
			}

			&:focus {
				color: $brand-black;
			}

			&::placeholder {
				color: $brand-grey;
				opacity: 1;
			}

			&:focus::placeholder {
				color: $brand-black;
			}

			&::-webkit-input-placeholder {
				/* Edge */
				color: $brand-grey;
				opacity: 1;
			}

			&:focus::-webkit-input-placeholder {
				color: $brand-black;
			}

			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: $brand-grey;
				opacity: 1;
			}

			&:focus:-ms-input-placeholder {
				color: $brand-black;
			}
		}
		.input {
			margin-bottom: 1em;
		}
		button {
			border: 1px solid #c0c0c0;
			background-color: white;
			padding: 0 25px;
			line-height: 30px;
			font-weight: bold;
			font-size: 13px;
			-webkit-transition: background-color 300ms ease;
			-moz-transition: background-color 300ms ease;
			-ms-transition: background-color 300ms ease;
			-o-transition: background-color 300ms ease;
			transition: background-color 300ms ease;

			&:hover, &:active {
				background-color: #f5f5f5;
			}
			@media only screen and (max-width: 360px) {
				padding: 0 11px;
			}
		}
		.update-response, .contact-response {
			font-weight: bold;
			margin-bottom: 2em;
			color: green;
			&.error {
				color: $brand-red;
			}
		}
	}
	&.contact {
		label {
			margin-top: 0.6em;
			margin-bottom: 0.8em;
		}
		textarea {
			background-color: #ebebeb;
			border: 1px solid #c0c0c0;
			color: $brand-grey;
			width: calc(100% - 42px);
			display: block;
			border-radius: 0;
			box-shadow: none;
			padding: 8px 20px;
			&:focus {
				color: $brand-black;
			}
			margin-bottom: 1em;
			@media only screen and (max-width: 360px) {
				padding: 0 11px;
			}
		}
	}
}

.text-center {
	text-align: center;
}

/* PAGINATOR */

ul.pagination {
	padding: 0;

	li {
		a {
			color: rgba(0, 0, 0, 0.54);
		}

		&.active a {
			background-color: #DCE47E;
			color: #FFF;
			font-weight: bold;
			cursor: default;
		}
	}

	.disabled:hover a {
		background: none;
	}
}

.paginator {
	text-align: center;

	ul.pagination li {
		float: none;
		display: inline-block;
		margin: 0.25rem;
	}

	p {
		text-align: center;
		color: rgba(0, 0, 0, 0.54);
	}
}

.asc:after {
	content: " \2193";
}

.desc:after {
	content: " \2191";
}

/* LESZEK */

span.listing, span.vendor {
	margin-top: 1rem;
	margin-right: 1rem;
	position: relative;
	display: inline-block;
	height: 120px;
	width: 330px;
	overflow: hidden;

	div.image {
		margin-right: 1rem;
		position: relative;
		display: block;
		float: left;
		height: 120px;
		width: 120px;
		overflow: hidden;
		background-color: #F8F8F8;
	}

	@media only screen and (max-width: 370px) {
		width: 100%;
		margin-right: 0;
		display: block;
	}
}

a.buy {
	display: block;
	float: right;
	position: relative;
	color: $brand-red;
}

table.rating {
	th, td {
		text-align: left;
		padding-right: 0.5rem;
		vertical-align: top;
	}

	th, td.nowrap {
		white-space: nowrap;
	}
}

span {
	&.listing div.image {
		margin-right: 1rem;
		position: relative;
		display: block;
		float: left;
		height: 120px;
		width: 120px;
		overflow: hidden;
		background-color: #F8F8F8;
	}

	&.vendor div.image {
		position: relative;
		width: 120px;
		height: 120px;
	}

	&.listing div.image amp-img, &.vendor div.image amp-img {
		background-color: white;
	}

	&.listing div.image amp-img img, &.vendor div.image amp-img img {
		object-fit: contain;
	}

	&.listing div {
		&.price {
			margin-top: 0.2rem;
		}

		&.unmoderated {
			margin-left: 1rem;
			position: relative;
			display: inline-block;
			float: right;
			color: $brand-red;
		}

		&.moderated {
			margin-left: 1rem;
			position: relative;
			display: inline-block;
			float: right;
		}

		&.fee a {
			margin-left: 1rem;
			position: relative;
			display: inline-block;
			float: right;
			color: #E0E0E0;
		}

		&.vendor a {
			color: orange;
		}
	}
}
