/* BASIC */
html {
  font-size:14px;
}
a {
  text-decoration:none;
}

/* TOP BAR */

nav {
  padding-bottom:1rem;
  border-bottom:solid 2px blue;
  text-align:center;
  background-color:#DDD;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top:1rem;
}
nav td {
  white-space:nowrap;
}
nav td.home {
  padding-right:1rem;
}
nav td.links {
  padding-left:1rem;
}
nav td.now {
  border-bottom: dashed 1px red;
}
nav td.search {
  width:100%;
  text-align:center
}
nav td.search table {
  width:100%;
}
nav td.search table td.text {
  width:100%;
}
nav input {
  padding:0;
  border:0;
  border-bottom: dashed 1px red;
  background-color:#DDD;
  width:100%;
}
nav button {
  border:0;
  color:red;
  background-color:#DDD;
  padding-left:0.5rem;
  padding-right:0;
}
nav a {
  color:red;
}
nav input::-webkit-input-placeholder { /* Edge */
  color: #FFF;
}
nav input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}
::placeholder {
  color: #FFF;
}

/* CONTAINER */

.container.clearfix {
	padding: 0.5rem;
}

h4 {
  color: #888;
  padding-bottom:0.5rem;
  margin-top:1rem;
  padding:0;
  border-top:solid 1px #EEE;
  font-size:0.8rem;
  font-weight:normal;
}
div.product-image {
  display: block;
}

img {
  width:auto;
  height:auto;
}

img.vendor-header {
  width:100%;
  height: auto;
}

div.product-image img {
  height: 240px;
  width: auto;
}
.image-max-height {
  max-height: 480px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* JOZSEF */

.vendors .vendor-header {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 2rem;
}
.vendors .vendor-avatar {
    margin-bottom: 1rem;
}

/* PAGINATOR */

ul.pagination {
	padding:0;
}
ul.pagination li a {
        color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
        background-color: #DCE47E;
        color: #FFF;
        font-weight: bold;
        cursor: default;
}
ul.pagination .disabled:hover a {
        background: none;
}

.paginator {
        text-align: center;
}

.paginator ul.pagination li {
        float: none;
        display: inline-block;
	margin: 0.25rem;
}

.paginator p {
        text-align: center;
        color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
        content: " \2193";
}
.desc:after {
        content: " \2191";
}

/* LESZEK */

span.vendor {
  margin-top: 1rem;
  margin-right: 1rem;
  position:relative;
  display:inline-block;
  height:120px;
  width:330px;
  overflow-y:hidden;
}
span.vendor div.image {
  margin-right: 1rem;
  position:relative;
  display:block;
  float:left;
  height:120px;
  width:120px;
  overflow:hidden;
  background-color:#F8F8F8;
}

span.listing {
  margin-top: 1rem;
  margin-right: 1rem;
  position:relative;
  display:inline-block;
  height:120px;
  width:330px;
  overflow-y:hidden;
}
a.buy {
  display:block;
  float: right;
  position: relative;
  color:red
}
table.rating th, table.rating td {
  text-align:left;
  padding-right:0.5rem;
  vertical-align:top;
}
table.rating th, table.rating td.nowrap {
  white-space:nowrap;
}
span.listing div.image {
  margin-right: 1rem;
  position:relative;
  display:block;
  float:left;
  height:120px;
  width:120px;
  overflow:hidden;
  background-color:#F8F8F8;
}
span.listing div.image, span.vendor div.image {
  position: relative;
  width: 120px;
  height: 120px;
}
span.listing div.image amp-img, span.vendor div.image amp-img {
  background-color: white;
}
span.listing div.image amp-img img, span.vendor div.image amp-img img {
  object-fit: contain;
}
span.listing div.price {
  margin-top: 0.2rem;
}
span.listing div.unmoderated {
  margin-left: 1rem;
  position:relative;
  display:inline-block;
  float:right;
  color:red
}
span.listing div.moderated {
  margin-left: 1rem;
  position:relative;
  display:inline-block;
  float:right;
}
span.listing div.fee a {
  margin-left: 1rem;
  position:relative;
  display:inline-block;
  float:right;
  color:#E0E0E0;
}
span.listing div.vendor a {
  color:orange;
}
